body{
    width: 900px;
    margin-left: 20%;
}
header{
    text-align: center;
    align-items: center;
    border-bottom: 2px solid;
    border-color: orange;
    background-color: lightgray;
}
footer{
    text-align: center;
    align-items: center;
    border-top: 2px solid;
    border-color: orange;
    font-size: small;
}
/*PreSetTitle*/
.PsT{
   color: orange;
}
/*div grey*/

/*Foto Profilo*/
#FotoP{
    width: 200px;
    height: 200px;
}